<!doctype html>
<html lang="en">
  <head>
    <!--Site Metas-->
    {{ site.metas|safe }}
    <!--Page Metas-->
    {{ page.metas|safe }}
    <!--Site Links-->
    {{ site.links|safe }}
    <!--Page Links-->
    {{ page.links|safe }}
    <!--Stylesheet-->
    <style>
      {% if pagestylesheet %}
        {{ page.stylesheet|safe }}
      {% else %}
        {{ site.stylesheet|safe }}
      {% endif %}
    </style>
    {% if request.user %}
      <style>
        .edit-inline *[contentEditable="true"]:focus,
        .edit-inline *[contentEditable="true"]:hover {
          outline: 2px solid #2276d2;
        }

        div#user-area h1 {
          color: antiquewhite;
        }
        div#user-area {
          background-color: #4a4949;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
        }
        div#editor-toolbar {
          display: flex;
          align-items: end;
        }
        div#editor-toolbar p {
          display: flex;
          padding: 5px;
        }
        #inline-ajax {
          display: none;
        }
      </style>
    {% endif %}
    <!--Title-->
    <title>{{ title|safe }}</title>
  </head>
  <body>
{% if request.user %}
<div id="user-area">

  <div id="editor-toolbar">
    <p>

      <button><a href="{% url 'sites:main-site-view' %}">Home</a></button>
    </p>
  <p>

    <select id="select-site">
        <option value="">-- Select Site --</option>
        {% for obj in sites %}
            <option value="/sites/inline/{{obj.id}}/?route=/index.html">{{obj.title}}</option>
        {% endfor %}
    </select>
  </p>
    <p>

      <select id="select-page">
          <option value="">-- Select Page --</option>
          {% for obj in pages %}
              {% ifequal obj.extension permitted %}
                <option value="/sites/inline/{{site.id}}/?route={{obj.route}}{{obj.name}}{{obj.extension}}">{{obj.route}}{{obj.name}}{{obj.extension}}</option>
              {% endifequal %}
          {% endfor %}
      </select>
    </p>
    <p>

      <button onclick="saveForm();">Save</button>
    </p>
    </div>
    <h1>Welcome, {{ profile.user.username }}</h1>
</div>
<div class="edit-inline">
{% endif %}
    <!--Header-->
    {% if pageheader %}
      <header id="page-header" class="tinymce-body">
        {{ page.header|safe }}
      </header>
    {% else %}
      <header id="site-header" class="tinymce-body">
        {{ site.header|safe }}
      </header>
    {% endif %}

    <!--Content-->
    <div id="page-content" class="tinymce-body">
      {{ page.content|safe }}
    </div>
    <!--Footer-->
    {% if pagefooter %}
      <footer id="page-footer" class="tinymce-body">
        {{ page.footer|safe }}
      </footer>
    {% else %}
      <footer id="site-footer" class="tinymce-body">
        {{ site.footer|safe }}
      </footer>
    {% endif %}

{% if request.user %}
</div>
<div id="inline-ajax">
    <form method="POST" class='ajax-form' id='site-page-form_{{site.id}}'>
        {% csrf_token %}
        {{ s_form.as_p }}
        {{ p_form.as_p }}
        <button type="submit" id="site-page-btn_{{page.id}}">Update</button>
    </form>
</div>
{% endif %}
    <!--Site Plugins-->
    {{ site.scripts|safe }}
    <!--Page Plugins-->
    {{ page.scripts|safe }}
    <!--Site Script-->
    <script type="text/javascript">
      {{ site.custom_script|safe }}
    </script>
    <!--Page Script-->
    <script type="text/javascript">
      {{ page.custom_script|safe }}
    </script>
    {% if request.user %}
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="https://www.telecomprocess.com/main/assets/libs/jquery/dist/jquery.min.js"></script>
        <!-- This Page JS -->
        <script src="https://www.telecomprocess.com/main/assets/libs/tinymce/tinymce.min.js"></script>
        <script src="https://www.telecomprocess.com/main/assets/libs/tinymce/themes/modern/theme.min.js"></script>
        <!--<script src="https://www.telecomprocess.com/main/assets/libs/tinymce/themes/inlite/theme.min.js"></script>-->
        <script>



            /*var emailBodyConfig = {
                selector: '.tinymce-body',
                menubar: false,
                inline: true,
                plugins: [
                  'link',
                  'lists',
                  'powerpaste',
                  'autolink',
                  'tinymcespellchecker'
                ],
                toolbar: [
                  'undo redo | bold italic underline | fontselect fontsizeselect',
                  'forecolor backcolor | alignleft aligncenter alignright alignfull | numlist bullist outdent indent'
                ],
                valid_elements: 'p[style],strong,em,span[style],a[href],ul,ol,li',
                valid_styles: {
                  '*': 'font-size,font-family,color,text-decoration,text-align'
                },
                powerpaste_word_import: 'clean',
                powerpaste_html_import: 'clean',
            };*/


            var emailBodyConfig = {
                selector: '.tinymce-body',
                init_instance_callback: function(editor) {
                  editor.on('ExecCommand', function(e) {
                    document.querySelector(`#id_${tinyMCE.activeEditor.id}`).value = `${tinyMCE.activeEditor.getContent()}`;
                  });
                  editor.on('keyup', function(e) {
                    document.querySelector(`#id_${tinyMCE.activeEditor.id}`).value = `${tinyMCE.activeEditor.getContent()}`;
                  });
                },
                menubar: 'file edit view insert format tools table help',
                browser_spellcheck: true,
                theme: 'modern',
                inline: true,
                plugins: [
                    "advlist autolink link image lists charmap print hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                toolbar: [
                  'undo redo | styleselect fontselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print media | forecolor backcolor emoticons'
                ],
            };


              //tinymce.init(emailHeaderConfig);
              tinymce.init(emailBodyConfig);
            /*$(document).ready(function () {


                if ($("#mymce").length > 0) {
                    tinymce.init({
                        selector: "textarea#mymce",
                        theme: "modern",
                        height: 300,
                        plugins: [
                            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                            "save table contextmenu directionality emoticons template paste textcolor"
                        ],
                        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",

                    });
                }

            });*/
        </script>
        <script type="text/javascript">
          document.querySelector("#select-site").addEventListener("change", (e)=>{
            if (e.target.value !== "") {
              window.location.href = e.target.value;
            }
          })
          document.querySelector("#select-page").addEventListener("change", (e)=>{
            if (e.target.value !== "") {
              window.location.href = e.target.value;
            }
          })
        </script>
        <script type="text/javascript">

          function saveForm(){
            document.querySelector("#site-page-btn_{{page.id}}").click();
          }


          $( document ).ready(function() {

              $('.ajax-form').submit(function(e){
                  e.preventDefault()
                  console.log("hello")

                  const site_id = "{{ site.id }}";
                  const page_id = "{{ page.id }}";

                  const url = `/sites/published/${site_id}/${page_id}/`;

                  $.ajax({
                      type: 'POST',
                      url: url,
                      data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'site-url': $('#id_site-url').val(),
                        'site-name': $('#id_site-name').val(),
                        'site-title': $('#id_site-title').val(),
                        'site-description': $('#id_site-description').val(),
                        'site-company_name': $('#id_site-company_name').val(),
                        'site-logo': $('#id_site-logo').val(),
                        'site-metas': $('#id_site-metas').val(),
                        'site-links': $('#id_site-links').val(),
                        'site-stylesheet': $('#id_site-stylesheet').val(),
                        'site-header': $('#id_site-header').val(),
                        'site-menu': $('#id_site-menu').val(),
                        'site-footer': $('#id_site-footer').val(),
                        'site-scripts': $('#id_site-scripts').val(),
                        'site-custom_script': $('#id_site-custom_script').val(),
                        'page-route': $('#id_page-route').val(),
                        'page-name': $('#id_page-name').val(),
                        'page-extension': $('#id_page-extension').val(),
                        'page-mime_type': $('#id_page-mime_type').val(),
                        'page-display_name': $('#id_page-display_name').val(),
                        'page-title': $('#id_page-title').val(),
                        'page-robots_meta': $('#id_page-robots_meta').val(),
                        'page-meta_description': $('#id_page-meta_description').val(),
                        'page-metas': $('#id_page-metas').val(),
                        'page-h_one': $('#id_page-h_one').val(),
                        'page-h_two': $('#id_page-h_two').val(),
                        'page-content': $('#id_page-content').val(),
                        'page-custom_script': $('#id_page-custom_script').val(),
                        'page-links': $('#id_page-links').val(),
                        'page-stylesheet': $('#id_page-stylesheet').val(),
                        'page-scripts': $('#id_page-scripts').val(),
                        'page-header': $('#id_page-header').val(),
                        'page-footer': $('#id_page-footer').val()
                      },
                      success: function(response) {
                          if (response['value'] === 'true'){
                            console.log("success");
                          } else {
                            console.log("failure");
                            console.log(response);
                          }
                      },
                      error: function(response) {
                          console.log('error', response)
                      }
                  })

              })
          });
      </script>
    {% endif %}
  </body>
</html>
